<label for="username" class="block text-sm font-medium mb-1">{{label()}}</label>
<input [class.input-error]="control.invalid && control.touched" [class.input-success]="control.valid && control.touched"
    [type]="type()" id="username" [placeholder]="label()" [formControl]="control" class="input input-bordered w-full">
@if (control.hasError('required') && control.touched) {
<p class="text-error text-xs mt-1">{{label()}} is required.</p>
}
@if (control.hasError('email') && control.touched) {
<p class="text-error text-xs mt-1">Invalid email address.</p>
}

@if (control.hasError('minlength') && control.touched) {
<p class="text-error text-xs mt-1">{{label()}} must be at least {{control.getError('minlength').requiredLength}}
    characters long.</p>
}

@if (control.hasError('maxlength') && control.touched) {
<p class="text-error text-xs mt-1">{{label()}} must be at most {{control.getError('maxlength').requiredLength}}
    characters long.</p>
}

@if (control.hasError('passwordMismatched') && control.touched) {
<p class="text-error text-xs mt-1">Passwords do not match.</p>
}